.comment-item-section {
  margin-right: 10rem;
  margin-left: 11rem;
  padding-bottom: 3rem;
  font-size: 2rem;
  .text-center {
    text-transform: capitalize;
  }
  h3 {
    margin-left: 10rem;
  }
  span.badge {
    font-size: 1rem;
  }
  .image {
    max-width: 5.0rem;
    max-height: 4.0rem;
    margin-left: 3.0rem;
  }
  @media only screen and (max-width: 500px) {
    margin-right: 3rem;
    margin-left: 1.5rem;
    padding-bottom: 3rem;
    font-size: 1.2rem;
    h3 {
      font-size: 1.5rem
    }
    span.badge {
      display: none;
    }
    .image {
      max-width: 5.0rem;
      max-height: 4.0rem;
      margin-left: 3.0rem;
    }
  }
}
.comment-reaction {
  margin-left: 5rem;
  color: #555;
}
.fa-clock {
  margin-left: 2rem;
  color: rgba(0, 0, 0, .5);
}
.comment-time {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, .5);
}
.comment-body {
  text-align:justify; 
  color: #555;
  font-family: 'Zilla Slab', serif;
}

.show {
  display: unset !important;
  padding: 0;
}
.pl-10 {
  padding-left: 6.3rem;
}

.dropdown {
  button, button:hover, .btn-primary:focus {
    background-color: $brand-color;
    color: rgba(255,255,255,1);
    font-size: 1.5rem;
  }
}

.dropdown-menu {
  transform: translate3d(-6px, 29px, 0px);
  span {
    cursor: pointer;
  }
}

.dropdown-item {
  padding: .7rem 1.5rem;
}

.dropdown-item:hover {
  background-color: rgba(0,0,0,.1);
}

.dropdown-divider {
  margin:0;
}

.dropdown-menu.show {
  font-size: 1.5rem;
}

.comment-modal {
  h2 {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 3rem;
  }
  .modal-dialog.Modal {
    width: 70rem;
  }
  .modal-body {
    max-width: 70rem !important;
    padding: 3rem 0rem 0rem 0rem;
    position: relative;
    z-index: 999;
    margin: unset;
    background: rgba(255, 255, 255, 0.04);
    -webkit-box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  }
}

@media only screen and (max-width: 1000px) {
  .comment-form .row {
    flex-wrap: unset;
  }
  .dropdown button,
  .dropdown button:hover,
  .dropdown .btn-primary:focus {
    font-size: 0.7rem;
  }
  p {
    margin-top: 0.4rem;
  }
  .fa-thumbs-up:before {
    margin-right: 2rem;
  }
  .comment-item-section {
    
    margin-right: 3rem;
    margin-left: 1.5rem;
    padding-bottom: 3rem;
    font-size: 2.4rem;
    .row {
      flex-wrap: unset;
    }
  }
  h3 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1199px) {
  .comment-form .row {
    flex-wrap: unset;
  }
  .dropdown button,
  .dropdown button:hover,
  .dropdown .btn-primary:focus {
    font-size: 0.7rem;
  }
  p {
    margin-top: 0.4rem;
  }
  .fa-thumbs-up:before {
    margin-right: 2rem;
  }

}

@media only screen and (max-width: 1199px) {
  .dropdown button, .dropdown button:hover, .dropdown .btn-primary:focus {
    font-size: 0.7rem;
  }
  p {
    margin-top: 0.4rem;
  }
  .image {
    max-width: 4.0rem;
    max-height: 4.0rem;
    margin-left: 3.5rem;
  }
  .fa-thumbs-up:before {
    margin-right: 2rem;
  }
  .comment-item-section {
    margin-left: 1.5rem;
    .row {
      flex-wrap: unset;
    }
  }
  h3 {
    font-size: 1.4rem;
  }
}
.edit {
  display: flex;
  justify-content: flex-end;
  .span {
    margin-right: 20px;
  }
  .mr-4.edit-button {
    margin-left: unset !important;
    margin-right: unset !important;
  }
  .jXLEy {
    padding: 0.2rem 1rem;
  }
}

.comment-reaction i {
  cursor: pointer;
}
.fas {
  color: $brand-color;
}
