.user-follow-img{
  border-radius: 50%;
  border: 1px solid #eee;
}

.userfollow-name{
  cursor: pointer;
  width:80px;
  word-wrap: break-word;
}
.user-image-container-f{
  width:50px;
  height:50px
}
.follow-btn{
  border-color: #4285F4;
  background: white;
  color: #4285F4;
}

.follow-btn:hover{
  border-color: #4285F4;
  background: #AC002A;
  color: white;
}

@media only screen and (max-width: 991px) {
  .vl{
    flex: 0 0 10.333333%;
  }
 
}