.user-dashboard {
  display: grid;
  grid-template-columns: minmax(12rem, 16.3rem) 1fr;
  background: #f8f9ff;
  height: 100%;
  .user-articles-section {
    margin: 0.5rem 0.5rem 2rem 0.5rem;
  }
  .dashboard-column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 5rem 15rem 5rem 5rem;
    width: 80%;
    @media only screen and (max-width: 1160px) {
      margin: 2rem 4rem 4rem 4rem;
    }
  }
  @media screen and (max-width: 800px) {
    margin: 0;
    width: 100%;
    display: block;
    .dashboard-column {
      width: 90%;
      margin: auto;
    }
    .count {
      left: 0;
    }
    .user-articles-section {
      margin-top: 0;
    }
  }
}
